body{
background-color: rgb(255, 255, 255);
margin: auto;
}

#contenedor {
  width: 90%;
  margin: 20px auto;
}

.coles {
  float: left;
  width: 33%; 
  padding: 5px;
}

.coles1 {
  float: left;
  width: 30%;
  padding: 5px; 
}

.box {
  margin-top: auto;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#caja1 { 
    height: 50px; 
    background-color: lightcoral; 
}

#caja2 { 
    height: 120px; 
    background-color: yellow;
}

#caja3 { 
    height: 70px; 
    background-color: green; 
}

#caja4 { 
    height: 300px; 
    background-color: darkblue; 
}

#caja5 { 
    height: 300px; 
    background-color: gray; 
}

#caja6 { 
    height: 100px; 
    background-color: lightgreen; 

}

#caja7 { 
    height: 150px; 
    background-color: orange; 
}

#caja8 { 
    height: 255px; 
    background-color: gold;
}

#caja9 { 
    height: 90px; 
    background-color: darkblue; 

}

#caja10 { 
    height: 205px; 
    background-color: purple;
}